body {
  background: #181f2a;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Raleway';
}

p {
  color: #cecece;
}

a {
  text-decoration: none;
}

a:hover {
  color: #339ecc;
  text-decoration: underline;
}

.container-fluid {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em 0 2em;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro {
  background: #1c2431 url(/images/bg-curvy-desktop.svg) no-repeat center bottom;
  height: 100vh;
  background-size: contain;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4em 0 4em 0;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navbar ul li {
  margin: 0 25px 0 25px;
}

.navbar ul li a {
  color: #cecece;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #339ecc;
}

.location {
  text-align: center;
  color: white;
}

.location h1 {
  font-size: 2.5em;
  padding: 1rem 0 1rem 0;
  font-weight: 700;
}

.location p {
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}

.location button {
  background: -webkit-gradient(linear, right top, left bottom, from(#339ecc), to(#65e2d9));
  background: linear-gradient(to bottom left, #339ecc, #65e2d9);
  color: white;
  padding: 15px 100px 15px 100px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

.location button:focus {
  outline: 0;
}

.functions {
  color: white;
  margin-top: 200px;
}

.functions .container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.functions .item-function {
  padding: 2em 9em 2em 9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.functions img {
  padding-bottom: 2em;
}

.functions p {
  margin: 0;
}

.productive {
  color: white;
  margin-top: 200px;
}

.productive .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productive .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.productive .text {
  padding: 0 0 0 5em;
}

.productive h1 {
  width: 80%;
  font-size: 2.5em;
}

.productive a {
  color: #65e2d9;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  padding-bottom: 5px;
}

.productive a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.productive a img {
  vertical-align: middle;
}

.feedback {
  color: white;
  margin-top: 200px;
  margin-bottom: 200px;
}

.feedback .container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.feedback .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.feedback .row img.quotes {
  position: absolute;
  top: 0;
  left: 20px;
}

.feedback .row .item-feedback {
  padding: 30px;
  margin: 30px;
  background: #202a3c;
  border-radius: 3px;
  z-index: 1;
}

.feedback .row .item-feedback .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.feedback .row .item-feedback .author p {
  color: white;
  font-weight: 700;
  margin: 0;
}

.feedback .row .item-feedback .author small {
  color: #cecece;
}

.feedback .row .item-feedback .author img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.get-early {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.get-early .container {
  max-width: 800px;
  position: absolute;
  top: -30%;
}

.get-early .get-early-input {
  padding: 50px;
  background: #1c2431;
  text-align: center;
}

.get-early .get-early-input h1 {
  color: white;
}

.get-early .get-early-input p {
  margin: 40px 0 40px 0;
}

.get-early .get-early-input input {
  padding: 15px 30px 15px 30px;
  border: 0;
  border-radius: 50px;
  width: 50%;
}

.get-early .get-early-input input:focus {
  outline: 0;
}

.get-early .get-early-input button {
  margin-left: 30px;
  padding: 15px 30px 15px 30px;
  border: 0;
  border-radius: 50px;
  background: -webkit-gradient(linear, right top, left bottom, from(#339ecc), to(#65e2d9));
  background: linear-gradient(to bottom left, #339ecc, #65e2d9);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.get-early .get-early-input button:focus {
  outline: 0;
}

.footer {
  position: relative;
  background: #0b1523;
  margin-top: 300px;
  color: white;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.footer .item-footer {
  padding: 0 60px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer .item-footer .icons-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .item-footer .icons-soc span {
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-decoration: none;
  font-weight: normal;
  margin: 0 10px 0 10px;
}

.footer .item-footer .icons-soc span:hover {
  color: #339ecc;
  border: 1px solid #339ecc;
  text-decoration: none;
}

.footer .item-footer a {
  color: #cecece;
}

.footer .item-footer a:hover {
  color: #339ecc;
  text-decoration: none;
}

.footer .item-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .item-footer ul li {
  padding: 10px 0 10px 0;
}

.footer .item-footer:first-child {
  width: 30%;
  padding-left: 0;
}

.footer .item-footer:first-child p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer .item-footer:first-child span {
  padding-right: 40px;
}

.footer .item-footer:nth-child(2) {
  display: block;
}

.footer .item-footer:nth-child(2) p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer .item-footer:nth-child(2) span {
  padding-right: 20px;
}

.footer .navbar {
  padding-top: 15em;
}

footer {
  padding: 3px;
  background: #1c2431;
}

@media screen and (max-width: 1100px) {
  .navbar img {
    height: 30px;
  }
  .navbar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2em 0 2em 0;
  }
  .navbar ul li {
    margin: 0 5px 0 5px;
  }
  .intro {
    background-size: cover;
    height: auto;
  }
  .location h1, .location p {
    padding: 1rem 1rem 1rem 1rem;
  }
  .location img {
    width: 100%;
  }
  .functions {
    margin-top: 50px;
  }
  .functions .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .functions .item-function {
    padding: 2em 2em 2em 2em;
  }
  .productive {
    margin-top: 50px;
  }
  .productive img {
    width: 100%;
  }
  .productive .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productive .text {
    padding: 0px 1em 0 1em;
  }
  .productive .text img {
    width: auto;
  }
  .feedback {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .feedback .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback .row .item-feedback {
    margin: 10px 30px 10px 30px;
  }
  .feedback .row img.quotes {
    position: absolute;
    top: -40px;
    left: 30px;
  }
  .get-early .container {
    max-width: 800px;
    position: relative;
    /* top: -30%; */
  }
  .get-early .container .get-early-input {
    padding: 20px;
  }
  .get-early .container .get-early-input input {
    width: 80%;
  }
  .get-early .container .get-early-input button {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
  .footer {
    margin-top: 100px;
  }
  .footer .navbar {
    padding-top: 2em;
  }
  .footer .logo img {
    height: auto;
  }
  .footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .item-footer {
    padding: 0;
  }
  .footer .item-footer:first-child {
    width: 100%;
  }
  .footer .item-footer:nth-child(2) span {
    padding-right: 40px;
  }
  .footer .item-footer:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .item-footer ul {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */