
$intro: hsl(217, 28%, 15%) // Dark Blue (intro and email sign up background)
$main: hsl(218, 28%, 13%) // Dark Blue (main background)
$footer: hsl(216, 53%, 9%) // Dark Blue (footer background)
$testimonials: hsl(219, 30%, 18%) // Dark Blue (testimonials background)

$cyan: hsl(176, 68%, 64%) // inside call-to-action gradient
$blue: hsl(198, 60%, 50%) // inside call-to-action gradient
$white: hsl(0, 0%, 100%) // Neutral

    
body
    background: $main
    font-size: 14px
    font-family: 'Open Sans'
    font-weight: 400

h1, h2, h3, h4
    font-family: 'Raleway'

.container-fluid
    padding: 4rem

.container
    max-width: 600px
    margin-left: auto
    margin-right: auto

.navbar
    display: flex

    ul
        list-style: none
        display: flex
        margin-left: auto

        li
            margin: 0 25px 0 25px

            a
                color: $white
                text-decoration: none

.location
    text-align: center
    color: $white

    h1
        font-size: 2.5em
        padding: 1rem 0 1rem 0
        font-weight: 700

    p
        font-size: 1.2rem
        padding: 1rem 0 1rem 0

    button
        background: $blue
        color: $white
        padding: 15px 100px 15px 100px
        border: 0
        border-radius: 30px

    