
$intro: hsl(217, 28%, 15%) // Dark Blue (intro and email sign up background)
$main: hsl(218, 28%, 13%) // Dark Blue (main background)
$footer: hsl(216, 53%, 9%) // Dark Blue (footer background)
$testimonials: hsl(219, 30%, 18%) // Dark Blue (testimonials background)

$cyan: hsl(176, 68%, 64%) // inside call-to-action gradient
$blue: hsl(198, 60%, 50%) // inside call-to-action gradient
$white: hsl(0, 0%, 100%) // Neutral

    
body
    background: $main
    font-size: 14px
    font-family: 'Open Sans'
    font-weight: 400
    margin: 0
    padding: 0

h1, h2, h3, h4
    font-family: 'Raleway'

p
    color: #cecece

a
    text-decoration: none

    &:hover
        color: $blue
        text-decoration: underline

.container-fluid
    max-width: 1500px
    margin-left: auto
    margin-right: auto
    padding: 0 2em 0 2em

.container
    max-width: 600px
    margin-left: auto
    margin-right: auto

.row
    display: flex

.intro
    background: $intro url(/images/bg-curvy-desktop.svg) no-repeat center bottom    
    height: 100vh
    background-size: contain

.navbar
    display: flex
    padding: 4em 0 4em 0

    ul
        list-style: none
        display: flex
        margin-left: auto


        li
            margin: 0 25px 0 25px

            a
                color: #cecece
                text-decoration: none

                &:hover
                    color: $blue


.location
    text-align: center
    color: $white

    h1
        font-size: 2.5em
        padding: 1rem 0 1rem 0
        font-weight: 700

    p
        font-size: 1.2rem
        padding: 1rem 0 1rem 0

    button
        background: linear-gradient(to bottom left, $blue, $cyan)
        color: $white
        padding: 15px 100px 15px 100px
        border: 0
        border-radius: 30px
        cursor: pointer

        &:focus
            outline: 0

.functions
    color: $white
    margin-top: 200px

    .container
        max-width: 1300px
        margin-left: auto
        margin-right: auto

    .item-function
        padding: 2em 9em 2em 9em
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

    img 
        padding-bottom: 2em   

    p
        margin: 0

.productive
    color: $white
    margin-top: 200px

    .row
        align-items: center

    .container
        max-width: 1200px
        margin-left: auto
        margin-right: auto

    .text 
        padding: 0 0 0 5em

    h1
        width: 80%
        font-size: 2.5em

    a
        color: $cyan
        text-decoration: none
        border-bottom: 1px solid $cyan
        padding-bottom: 5px

        &:hover
            color: $white
            border-bottom: 1px solid $white

        img
            vertical-align: middle

.feedback
    color: $white
    margin-top: 200px
    margin-bottom: 200px
    
    .container
        max-width: 1300px
        margin-left: auto
        margin-right: auto

    .row
        align-items: center
        position: relative

        img.quotes
            position: absolute
            top: 0
            left: 20px

        .item-feedback
            padding: 30px
            margin: 30px
            background: $testimonials
            border-radius: 3px
            z-index: 1

            .author
                display: flex
                align-items: center
                font-size: 10px

                p
                    color: $white
                    font-weight: 700
                    margin: 0

                small
                    color: #cecece

                img
                    height: 30px
                    border-radius: 50%
                    margin-right: 10px

.get-early
    max-width: 800px
    margin-left: auto
    margin-right: auto

    .container
        max-width: 800px
        position: absolute
        top: -30%

    .get-early-input
        padding: 50px
        background: $intro
        text-align: center

        h1
            color: $white
        
        p
            margin: 40px 0 40px 0

        input
            padding: 15px 30px 15px 30px
            border: 0
            border-radius: 50px
            width: 50%

            &:focus
                outline: 0

        button
            margin-left: 30px
            padding: 15px 30px 15px 30px
            border: 0
            border-radius: 50px
            background: linear-gradient(to bottom left, $blue, $cyan)
            color: $white
            font-weight: 700
            cursor: pointer

            &:focus
                outline: 0

.footer
    position: relative
    background: $footer
    margin-top: 300px
    color: $white

    .row
        display: flex
        justify-content: space-between
        padding-bottom: 30px

    .item-footer
        padding: 0 60px 0 60px
        display: flex
        align-items: baseline

        .icons-soc
            display: flex
            
            span
                color: #fff
                padding: 10px
                border: 1px solid #fff
                border-radius: 50%
                text-decoration: none
                font-weight: normal
                margin: 0 10px 0 10px

                &:hover
                    color: $blue
                    border: 1px solid $blue
                    text-decoration: none

        a
            color: #cecece

            &:hover
                color: $blue
                text-decoration: none

        ul
            list-style: none
            margin: 0
            padding: 0

            li
                padding: 10px 0 10px 0
                

        &:first-child
            width: 30%
            padding-left: 0

            p
                display: flex
                align-items: end
            
            span
                padding-right: 40px    

        &:nth-child(2)
            display: block

            p
                display: flex
                align-items: end

            span
                padding-right: 20px    
            

    .navbar
        padding-top: 15em

footer
    padding: 3px
    background: $intro

@media screen and (max-width: 375px) 
    .navbar img 
        height: 30px
    
    .navbar
        align-items: center
        padding: 2em 0 2em 0

    .navbar ul li 
        margin: 0 5px 0 5px

    .intro 
        background-size: cover

    .location img
        width: 100%

    .functions
        margin-top: 50px

        .row
            flex-direction: column

        .item-function 
            padding: 2em 2em 2em 2em

    .productive 
        margin-top: 50px

        img
            width: 100%

        .row
            flex-direction: column

        .text 
            padding: 0px 1em 0 1em

            img
                width: auto

    .feedback
        margin-top: 100px
        margin-bottom: 100px

        .row
            flex-direction: column

            .item-feedback 
                margin: 10px 30px 10px 30px

            img.quotes 
                position: absolute
                top: -40px
                left: 30px

    .get-early .container 
        max-width: 800px
        position: relative
        /* top: -30%; */

        .get-early-input 
            padding: 20px

            input
                width: 80%

            button
                width: 100%
                margin-top: 20px
                margin-left: 0

    .footer
        margin-top: 100px

        .navbar
            padding-top: 2em

        .logo img
            height: auto

        .row
            flex-direction: column

        .item-footer
            padding: 0

            &:first-child
                width: 100%

            &:nth-child(2) span
                padding-right: 40px

            &:last-child
                display: flex
                justify-content: center

            ul
                margin-top: 30px